.APP {

}

.LOGO {
  position: absolute;
  cursor: pointer;
}

/* .APP{
  background-image: url("./assets/bgimage.jpg");
  background-repeat: no-repeat;
  background-size: auto;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace; 
  background-image: url("./assets/bgimage.jpg");
  background-size: cover;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

.links {
  display:inline;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}


.custom-select {
  position: relative;
  font-family: Arial;
  border-bottom: 1px solid #9e9e9e;
  width: Calc( 100% - 45px );

}

.custom-select select {
  display:block;
  margin-left: 50px;
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



/* dashboard */

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

/* GLOBAL */
.border-radius-20 {
  border-radius: 20px;
}

.text-center {
  text-align: center;
}
.border-radius-20-top-only {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
/* END GLOBAL */




/* Class Summary */
.project-summary {
  display: inline-grid;
  width: 300px;
  float: left;
  margin-right:50px;
  text-align: center;
}

.projectsContainer {
  text-align: center;
}

.cardBackground {
  height: 130px;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}

.cardBackground.image1 {
  background-image:url('https://cliparting.com/wp-content/uploads/2018/03/cool-pictures-2018-2.jpg');
}

.cardBackground.image2 {
  background-image:url('http://images.unsplash.com/photo-1430116267665-e7f6b3dafce3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
}

.cardBackground.image3 {
  background-image:url('https://wallpapersflix.com/cool/wp-content/uploads/2020/07/Cool-PC-Background.jpg');
}

.cardBackground.image4 {
  background-image:url('https://images.template.net/wp-content/uploads/2016/05/03124151/Octopus-Funny-Cool-Wallpaper-for-Desktop.jpg');
}

.courseName {
  font-size: 21px;
}

.courseAbbr {
  font-size: 18px;
}
.day-of-week,
.date-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.day-of-week .active {
  color: green;
  border-radius: 19px;
  width: 95%;
  background-color: rgba(0, 255, 0, 0.3);
}

/* END Class Summary */









/* User Summary */

.user-list {
  display: inline-flex;
  width: 100%
}

.user-summary {
  display: inline-grid;
  width: 100px;
  float: left;
  height: 100px;
  background-color: #ec407a;
  margin-right:50px;
  text-align: center;
}
.user-summary .card-content.grey-text.text-darken-3{
padding: 14px !important; 
}

.user-summary.true {
  display: inline-grid;
  width: 100px;
  float: left;
  background-color: #41cc41;
  -webkit-box-shadow:0 0 20px blue; 
  -moz-box-shadow: 0 0 20px blue; 
  box-shadow: 120px 80px 40px 20px #0ff;
  margin-right:50px;
  text-align: center;
}
.user-summary.false {
  background-color: #a1a1a1;
}

.courseName {
  font-size: 21px;
}

.courseAbbr {
  font-size: 18px;
}
.day-of-week,
.date-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.day-of-week .active {
  color: green;
  border-radius: 19px;
  width: 95%;
  background-color: rgba(0, 255, 0, 0.3);
}

/* END User Summary */







/* Random Shit */

.true.card.project-summary:before,
.true.card.project-summary:after {
  position: absolute;
  content: '';
  z-index: -1;
  height: 52%;
  width: 52%;
  top: 25%;
  left: 24%;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.3);;
  animation: glow-grow 1s ease-out infinite;
}
.true.card.project-summary:after {
  animation-delay: .66s;
}
.true.card.project-summary {
  animation-delay: 1.33s;
  }
@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}






.center {
  margin: auto;
  width: 50%;
  max-width: 400px;
  min-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
div.loader {
  font-size: 100px;
}

.loaded {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}






.input-field-time {
  display: inline-grid
}

.input-field-time .time-fields {
  display: inline-flex
}

.button-row {
  display: inline-flex;
}
.button-row .input-field {
  margin-right:10px
}







.CourseTeachView {
  padding: 50px;
  margin-top: 50px;
  border: 1px solid grey;
}

.white-background {
  background-color: white;
}







.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}




.table {
  display: inline-table;
}



.column {
  float: left;
  width: 50%;
}
.column.left {
  margin-right: 25px;
}
.column.right {
  padding-left: 15px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.border-dash-right {
  border-right-style: dashed;
}






.logout-btn {
  top: -7px;
  font-family: Hack, monospace;
  background: #42a5f5;
  color: #2c2c2c;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 100px;
}
.logout-btn::after {
  font-weight: 400;
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.logout-btn:hover {
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #00f 61;
  padding: 16px;
  color: #fff;
}
.logout-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: #fff;
}



.asdasd {
  padding-right: 35px;
  display: inline-block;
  top: -7px;
}






.card-content.grey-text.text-darken-3 {
  min-height: 145px;
}